<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="formPokemon" (ngSubmit)="guardar_pokemon()">

            <input formControlName="id" type="hidden">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input formControlName="nombre" class="form-control" type="text">
            </div>

            <div class="mb-3">
                <label class="form-label">Peso</label>
                <input formControlName="peso" class="form-control" type="text">
            </div>

            <div class="mb-3">
                <label class="form-label">Altura</label>
                <input formControlName="altura" class="form-control" type="text">
            </div>

            <div class="mb-3">
                <label class="form-label">Habilidad</label>
                <input formControlName="habilidad" class="form-control" type="text">
            </div>

            <div class="mb-3">
                <label class="form-label">Tipo</label>
                <input formControlName="tipo" class="form-control" type="text">
            </div>

            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <input formControlName="imagen" class="form-control" type="text">
            </div>

            <div class="d-flex justify-content-start"> 
                <button [class]="class_btn">{{text_btn}}</button>
                <button (click)="resetear()" type="button" [style]="reset_display" class="btn btn-info ms-3">Reset</button>
            </div>
        </form>
    </div>

    <div class="col-lg-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>Habilidad</th>
                    <th>Tipo</th>  
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of lista_pokemon">
                    <td>{{pokemon.id}}</td>
                    <td>{{pokemon.nombre}}</td>
                    <td>{{pokemon.peso}}</td>
                    <td>{{pokemon.altura}}</td>
                    <td>{{pokemon.habilidad}}</td>
                    <td>{{pokemon.tipo}}</td>
                    <td><img src="{{pokemon.imagen}}" width="55" height="55"></td>
                    <td>
                        <button (click)="eliminar_pokemon(pokemon.id)" class="btn btn-dark btn-sm me-3">Borrar</button>
                        <button (click)="editar_pokemon(pokemon)"class="btn btn-danger btn-sm">Editar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>